.subscription-page {
    text-align: center;
    margin: 20px;
    background-color: #65939d; 
    padding: 40px;
    border-radius: 8px;
  }
  
  .page-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #f9efb9;
  }
  
  .page-description {
    margin-bottom: 30px;
    color: #ffffff; 
  }
  
  .subscription-cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  