@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.artwork-form-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 20px;
    background-color: #385966;
    color: #ffeb3b;
    font-family: Arial, sans-serif;
  }
  
  .artwork-form-container h2 {
    font-family: "Work Sans", sans-serif;
    text-align: left;
    color: #F8EFBA;


  }
  h2{
    font-size: 3rem;
    padding-bottom: 1%;
    border-bottom: 1px solid #F8EFBA;
    
  }
  .file-upload {
    
    margin: 3% auto 20px;
    text-align: center;
    margin-bottom: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    border-radius: 0.5rem;
    background: #65939D;

  }
  
  .file-upload-label {
    display: flex;
    width: 95%;
    height: 80%;
    border: 2px dashed #ffffff;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    color: #ffffff;
  }
  h3{
    font-family: "Work Sans", sans-serif;
    font-size: 2rem;
    color: #F8EFBA;
    border-bottom: 1px solid #F8EFBA;
    padding-bottom: 1%;
    margin-bottom: 2%;
    text-align: left;
  }
  .form-section-group{
    width:80%;
    padding-left: 35vh;
  }
 

  .file-upload-box p {
    margin: 5px 0;
  }
  
  .file-input {
    display: none;
  }
  
  .form-section {
    padding-top: 20px;
  }
  
  .form-section h3 {
    color: #ffeb3b;
    margin-bottom: 10px;
  }
  
  .form-group {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  .form-label{
    width: 100%;
    text-align: left;

  }
  label{
    color: #ffffff;
    padding-bottom: 1rem;
    text-align: left;
  }
  .category-group{
    text-align: left;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .description-group{
    text-align: left;
  }
  input,select, textarea {
    width: 100%;
    font-family: "Roboto",sans-serif;
    height: 6vh;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    background-color: #65939D;
    color:#3B3B3B;
    ;
    font-size: 16px;
  }
  
  textarea {
    height:15rem;
    font-family: "Work Sans",sans-serif;
  }
  
  .submit-button {
    width: 15%;
    padding: 2vh;
    border: none;
    margin-top: 3vw;
    border-radius: 2rem;
    font-size: 1.2rem;
    background: linear-gradient(90deg, #FAD000 20%, #947B00 80%);
    color: black;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #ffdb3b;
  }
  