.payment-page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #385966;
}

.payment-page-main {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 20px;
    background-color: #385966;
}

.payment-left-div {
    flex: 1;
    padding: 40px;
    background-color: #385966;
    color: white;
    margin-right: 10px;
}

.payment-left-div h2 {
    font-size: 50px;
    font-weight: 500;
    font-family: "Work Sans", sans-serif;
    color: #F8EFBA;
    margin-bottom: 20px;
}

.payment-left-div p {
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.5;
}

.payment-form label {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    color: white;
}

.payment-form input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    background-color: #65939D;
    color: black;
}

.payment-form input:focus {
    outline: 2px solid #9563FF;
    border: none;
}

.payment-form .expiry-cvv {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    max-width: 50%;
}

.payment-form .expiry-cvv label {
    flex: 1;
}

.payment-form input::placeholder {
    color: #ddd;
}

.discount-container {
    display: flex;
    align-items: center;
}

.discount-container input {
    flex: 1;
    margin-right: 10px;
    background-color: #65939D;
}

.discount-container button {
    background-color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    width: auto;
    cursor: pointer;
    font-weight: bold;
    color: #385966;
    transition: background-color 0.3s, color 0.3s;
}

.discount-container button:hover {
    background-color: #9563FF;
    color: white;
}

.error-message {
    color: #FF6B6B;
    font-size: 14px;
    margin-top: 10px;
}

.pay-now-button {
    display: block;
    margin: 30px auto 0;
    width: 242px;
    height: 66px;
    background-color: #9563FF;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pay-now-button:hover {
    background-color: #7b50cc;
}

.payment-right-div {
    flex: 1;
    padding: 40px;
    background-color: #385966;
    color: white;
    /* border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
}

.payment-details-box {
    width: 100%;
    max-width: 503px;
    background-color: #65939D;
    color: black;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.payment-details-box h3 {
    font-size: 40px;
    font-weight: 400;
    color: #2F2E2E;
    margin-bottom: 10px;
}

.payment-details-box .payment-total {
    font-size: 64px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 20px;
}

.payment-details-box .payment-detail-title {
    font-size: 20px;
    font-weight: 600;
    color: #2F2E2E;
    margin-bottom: 5px;
}

.payment-details-box .payment-detail-content {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 15px;
}

.payment-details-box hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

.confirm-payment-button {
    width: 100%;
    padding: 15px;
    background-color: #385966;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.confirm-payment-button:hover {
    background-color: #65939D;
}

/* Card Icon CSS */

.card-number-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .card-type-icon {
    width: 30px;
    height: 20px;
    position: absolute;
    left: 10px;
  }
  
  .card-number-container input {
    padding-left: 50px; 
  }
  
  .clear-button {
    background-color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    width: auto;
    cursor: pointer;
    font-weight: bold;
    color: #385966;
  }

  .clear-button:hover {
    background-color: #9563FF;
    color: white;
}