/* Container and Layout */
.product-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Work Sans', sans-serif;
}

/* Product Image Section */
.product-image-container {
  width: 100%;
  height: 768px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.product-details-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Product Details Section */
.product-details-page {
  padding: 40px;
  background-color: #385966;
  color: #F8EFBA;
}

.product-details-content {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.product-main-content {
  flex: 1;
  text-align: left;
}

.product-details-title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 10px;
}

.product-details-creation-date,
.product-details-created-by {
  font-size: 20px;
  margin-bottom: 8px;
}

.product-details-creator-name {
  color: #ffffff;
  font-weight: bold;
}

/* Creator Profile Section */
.product-details-creator-info {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.product-details-creator-pic {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 10px;
}

.product-details-creator-name-text {
  color: #ffffff;
  font-weight: bold;
}

/* Description Section */
.product-details-description-title,
.product-details-fullsize-title,
.product-details-tags-title {
  font-size: 22px;
  font-weight: 500;
  margin-top: 30px;
}

/* Created On Title */
.product-details-creation-date {
  font-family: 'Work Sans', sans-serif;
  font-size: 22px;
  color: #A8DCAB;
  font-weight: normal;
}

/* Created By Title */
.product-details-created-by {
  font-family: 'Space Mono', monospace;
  font-weight: 500;
  font-size: 22px;
  color: #C9D24B;
}

/* Description Title */
.product-details-description-title {
  font-family: 'Space Mono', monospace;
  font-weight: 500;
  font-size: 22px;
  color: #E5C2F5;
}

/* Details Title */
.product-details-fullsize-title {
  font-family: 'Space Mono', monospace;
  font-weight: 500;
  font-size: 22px;
  color: #FF4500;
}

/* Tags Title */
.product-details-tags-title {
  font-family: 'Space Mono', monospace;
  font-weight: 500;
  font-size: 22px;
  color: #BDCEEA;
}

.product-details-description,
.product-details-starting-bid {
  font-size: 18px;
  color: #ffffff;
  line-height: 1.5;
}

.product-details-starting-bid-title {
  font-family: 'Space Mono', monospace;
  font-weight: 500;
  font-size: 22px;
  color: #FFD700; 
  margin-top: 20px; 
}

.product-details-fullsize-link {
  display: inline-block;
  margin-top: 10px;
  font-size: 18px;
  color: #f0f0f0;
}

/* Tags Section */
.product-details-tags-container {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.product-details-tag-button {
  width: 170px;
  height: 45px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: #484848;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* Explore More Artwork Section */
.explore-more-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  background-color: #65939D; 
  padding: 20px;
  border-radius: 8px;
  margin-top: 40px;
}

/* Explore More Title */
.product-details-explore-title {
  font-size: 60px;
  font-weight: 600;
  margin-left: 300px;
  color: #F8EFBA;
  margin-bottom: 10px;
}

/* View More Button */
.product-details-view-more-button {
  font-size: 20px;
  font-weight: 500;
  width: 200px;
  height: 50px;
  color: #000;
  background-color: #FAD000;
  border:#3D00B7;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 40px;
  margin-left: 50px;
}

.product-details-view-more-button:hover{
  background-color: #594c08;
  color: #ffffff;
}

/* Aside Section */
.product-details-aside {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 20px;
  max-height: 300px;
}

.auction-timer-box,
.bid-input-box {
  background-color: #65939D;
  padding: 20px;
  border-radius: 8px;
}

.auction-timer-box h3,
.bid-input-box h3 {
  font-size: 18px;
  color: #002933;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Space Mono', monospace;
}

.auction-timer {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 5px;
  font-family: 'Space Mono', monospace;
}

.timer-labels {
  display: flex;
  justify-content: center;
  gap: 18px;
  font-size: 14px;
  color: #ffffff;
  font-family: 'Space Mono', monospace;
}

.timer-label {
  font-size: 14px;
  color: #F8EFBA;
  text-align: center;
  font-family: 'Space Mono', monospace;
}

.bid-input {
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  background-color: #385966;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.place-bid-button {
  width: 50%;
  padding: 10px;
  font-weight:500;
  background-color: #3D00B7;
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}


.product-card-grid-container {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  background-color: #65939D;
}

.product-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  width: 100%;
}

.product-card-grid div {
  width: 100%;
}

.auction-timer-box {
  text-align: center;
}

.auction-timer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.time-segment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-value {
  font-size: 42px;
  font-weight: bold;
  color: #002933;
}

.timer-label {
  font-size: 14px;
  color: #002933;
  margin-top: 5px;
}

.bid-popup {
  position: absolute;
  top: 100%; 
  left: 50%;
  transform: translateX(-200%);
  transform: translateY(250%);
  margin-top: 150px; 
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bid-popup-image {
  width: auto; 
  height: auto;
  opacity: 1;
  transition: opacity 1s ease-in-out;  
}

.bid-popup.hidden {
  opacity: 0;
}


/* Mobile and Tablet Views */
@media (max-width: 1024px) {
  
  .product-details-title {
    font-size: 36px;
  }

  .product-details-content {
    flex-direction: column;
    gap: 20px;
  }

  .product-main-content {
    text-align: center;
  }

  .product-details-image {
    height: 400px;
  }

  .product-details-creator-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .product-details-tags-container {
    flex-direction: column;
    align-items: center;
  }

  .product-details-explore-title {
    font-size: 48px;
    margin-left: 0;
    text-align: center;
  }

  .product-card-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-details-aside {
    width: 100%;
    max-height: none;
    margin-left: 0;
  }
  .bid-popup {
    top: 80%;  
    transform: translateX(-50%) translateY(100%); 
    margin-top: 100px; 
  }
}

@media (max-width: 768px) {
  /* For tablets and small screens */
  .product-details-title {
    font-size: 28px;
  }

  .product-details-content {
    flex-direction: column;
    gap: 15px;
  }

  .product-details-image {
    height: 300px;
  }

  .product-details-main {
    width: 100%;
    text-align: center;
  }

  .product-details-creator-info {
    align-items: center;
    gap: 10px;
  }

  .product-details-tags-container {
    flex-direction: column;
    align-items: center;
  }

  .product-details-view-more-button {
    width: 150px;
  }

  .product-card-grid {
    grid-template-columns: 1fr;
  }

  .place-bid-button {
    width: 80%;
    font-size: 14px;
  }

  .bid-input {
    font-size: 24px;
    height: 40px;
  }

  .bid-popup {
    top: 70%;  
    transform: translateX(-50%) translateY(1000%);
    margin-top: 80px; 
  }

  .product-details-tags-container {
    flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  /* For mobile */
  .product-details-title {
    font-size: 22px;
  }

  .product-details-image {
    height: 250px;
  }

  .product-details-content {
    padding: 20px;
  }

  .place-bid-button {
    width: 70%;
    font-size: 14px;
  }

  .product-card-grid {
    grid-template-columns: 1fr;
  }
}
