.product-page
{
    background-color: #65939d;
}
.heading
{
    color: #f9efb9;
    text-align: center;
}

.browse-para
{
    color: white;
}

.main-banner {
    text-align: center;
    margin-top: 20px;
    background-color: #395965;
}

.main-search {
    margin-top: 10px;
    padding: 10px;
    width: 80%;
    background-color: #ffffff;  
    border-color: #f9efb9;
    border-width: 3px;
    border-radius: 20px;
}

.main-search::placeholder 
{
    color: #395965;
}

.main-search:focus 
{
    background-color: #ffffff;
    color: #395965;
}

.featured-artwork, .explore-categories, .trending-collection {
    margin: 30px 0;
    
}

.subheadings
{
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: #395965;
    color: #f9efb9;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-bottom: 4vh;
}

.artwork-grid
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-bottom: 4vh;
    padding-left: 25vh;  
}
.collection-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-bottom: 4vh;
}
.more-artworks-btn, .more-collections-btn
{
    background-color: #4e00b2;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    width: 25%;
}

.more-artworks-btn:hover, .more-collections-btn:hover
{
  background-color: #350277;
}
