.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%; 
}

.background-image {
    position: relative;
    width: 100%;
    height: 200px;
}

.banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-pic {
    position: absolute;
    left: 0; 
    bottom: -25%; 
    transform: translateX(0); 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
}

.pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-info {
    font-family: 'Work Sans', sans-serif;
    background-color: #385966;
    padding-top: 10vh;
    padding-left: 5vh;
    width: 100%;
    color: #ffffff;
    text-align: left;
}

.user-info h2 {
    color: #F8EFBA;
    font-size: 2rem;
    font-weight: bold;
}

.user-info p:first-of-type {
    color: #ffffff;
    font-size: 1.2rem;
}

.artwork-stats {
    margin-top: 10px;
    display: flex;
    gap: 40px;
    font-size: 1.1rem;
    text-align: center;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.stat-item .number {
    color: #C9D24B;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 8px;
}

.stat-item .label {
    color: #ffffff;
    font-size: 1rem;
    margin-top: 5px;
}

.user-info-section h3 {
    color: #E5C2F5;
    margin-top: 20px;
    margin-bottom: 20px;
}

.category-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #65939D;
    padding: 20px;
    width: 100%;
    color: #ffffff;
    font-weight: medium;
    gap: 20px;
    position: relative;
}

.category-item {
    display: inline-flex;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0 10px;
    position: relative;
}

.category-item .art-count {
    margin-left: 8px;
    font-size: 1rem;
    background-color: #ffffff;
    padding: 6px 12px; 
    border-radius: 50%; 
    color: #000000;
    display: inline-block; 
    text-align: center; 
}

.category-item.selected {
    color: #000000;
}

.category-item.selected .art-count {
    background-color: #000000;
    color: #ffffff;
}

.underline {
    position: absolute;
    bottom: 5px;
    height: 3px;
    background-color: #000000;
    transition: left 0.3s ease, width 0.3s ease;
}

.category-bar::after {
    content: '';
    position: absolute;
    bottom: -5px;
    height: 3px;
    background-color: #000000;
    width: 0;
    transition: transform 0.3s ease, width 0.3s ease;
}

.category-item.selected::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 3px;
    background-color: #000000;
    transition: transform 0.3s ease, width 0.3s ease;
}


.user-info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.edit-profile-btn {
    width: 152px;
    height: 40px;
    background-color: #3D00B7;
    color: white;
    border: 2px solid #A259FF;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: medium;
    transition: background-color 0.3s ease;
}

.edit-profile-btn:hover {
    background-color: #5D33CC; 
}

.product-section {
    width: 100%;
    padding: 0 20px;
    margin-top: 0px;
    background-color: #65939D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    width: 100%;
    padding: 20px 0;
}

.view-more-button {
    background-color: #FAD000;
    color: black;
    border: 2px solid #A259FF;
    border-radius: 50px;
    width: 179px;
    height: 66px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    margin-bottom: 30px;
}

.view-more-button:hover {
    background-color: #E5BC00;
}
