/* Login.css */
.main {
    font-family: 'Arial', sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    display: flex;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .paragraph {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-left: 9%;   
  }

  .signup-link {
    color: white;
    text-decoration: none;
    margin-left: 9%;
    margin-top: 10px;
  }
  
  .image {
    flex: 1;
    /* https://pixabay.com/illustrations/ai-generated-astronaut-space-earth-8615835/ */
    background-image: url('../SignUp/astronaut.webp');
    background-size: cover;
    background-position: center;
  }
  
  .form-container {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  p {
    margin-bottom: 1rem;
  }
  
  input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .success {
    color: green !important;
  }
  
  .error {
    color: red !important;
  }
  